:root {
  --small: 4px;
  --medium: 16px;
  --large: 48px;
  --color: black;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: var(--color);
  text-decoration: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: 300;
}

h3 {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  white-space: pre-line;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--medium);
}

main {
  padding-top: var(--large);
}

.title,
.description,
.info-group {
  padding-bottom: var(--large);
}

.about {
  position: absolute;
  top: var(--medium);
  right: var(--medium);
  text-align: right;
}

.projects {
  position: absolute;
  bottom: var(--medium);
  left: var(--medium);
}

.mark {
  width: 200px;
  height: auto;
  position: absolute;
  bottom: var(--medium);
  right: var(--medium);
}

.cloud {
  text-align: center;
  max-width: 550px;
}

section {
  width: 100%;
  display: flex;
}

.info-container {
  width: 33.3%;
  padding-left: var(--medium);
  padding-right: var(--medium);
}

.info {
  position: sticky;
  top: var(--medium);
}

.info-group h3 {
  padding-bottom: var(--small);
}

aside {
  width: 66.6%;
  padding-left: var(--medium);
  padding-right: var(--medium);
}

aside img {
  width: 100%;
  height: auto;
  padding-bottom: var(--medium);
}

.project-link:hover {
  cursor: grab;
  color: red;
  font-style: italic;
}
